<section class="login">
    
    <h2>Edit my profile</h2>

    <form action="/profile-edit" method="POST">

        <label for="username">Username</label>
        <input type="text" name="username" value="{{username}}">
        <br><br>

        <label for="password">Password</label>
        <input type="password" name="password" value="{{password}}">

        {{#if message}}
        <p style="color: red">{{ message }}</p>
        {{/if}}

        <br><br>

        <button type="submit">Edit profile</button>

</section>

<aside class="aside">

    <p>Made for Ironhack Madrid</p>

</aside>