<nav>

    <ul>

        <li><a href="/"><img src="/images/chef-burdeos.png" alt="Logo" class="chef"></a></li>

        <li class="title">TartApp</li>

    </ul>

</nav>

<div class="container-flex new-form">

    <div class="row justify-content-center align-items-start">

        <div class="col-4 places-list">

            <h2>New recipe</h2>

                <form action="/recipes/new" method="post" class="new-form">

                    <label for="name">Name</label>
                    <input type="text" name="name" value="{{name}}"><br>

                    <label for="ingredients">Ingredients</label>
                    <input class="big-input" type="text" name="ingredients" value="{{ingredients}}"><br>
                    {{!-- arreglar --}}

                    <label for="steps">Steps</label>
                    <input class="big-input" type="text" name="steps" value="{{steps}}"><br>

                    <label for="difficulty">Difficulty</label>
                    <select name="difficulty">

                        <option>Easy</option>
                        <option>Amateur</option>
                        <option>Chef</option>


                    </select>


                </form>


                <button class="hover-btn" type="submit">Create recipe</button>

                <a class="hover-btn" href="/recipes">Go back</a>

        </div>

        <div class="col-6">
        
            <img class="shop" src="/images/receta-new.png" alt="receta">

            <div class="row justify-content-start">
            
                <div class="col-8">
            
                    <p class="quote">"A recipe has no soul. You, as the cook, must bring soul to the recipe"</p>
            
                </div>
            
            </div>

        
        </div>

        
    </div>
        
</div>

<aside class="aside">

    <p>Made for Ironhack Madrid</p>

</aside>